// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #007098 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              #007098 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               #007098 !default;
$brand-rose:                 #007098 !default;
$brand-inverse:              $black-color !default;
